﻿@{
    ViewData["Title"] = "Favorite places to visit";
}
<head>
    <link rel="stylesheet" href="~/css/map.css" />
</head>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/map.js"></script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMap' async defer></script>


<div class="mapPageWrapper">
    <h1 style="padding-bottom: 1rem">@ViewData["Title"]</h1>
    <div style="padding: 2rem;"></div>

    <h4>Here are our favorite places to visit in Israel</h4>

    <div style="padding: 2rem;"></div>

    <div id="map"></div>
</div>
