﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";

    string[] badgeStyles = { "primary", "secondary", "success", "danger", "warning", "info", "dark" };
    Dictionary<long, String> interestToBadge = new Dictionary<long, String>();
    for (int interestIndex = 0; interestIndex < ViewBag.Interest.Count; interestIndex++)
    {
        var id = ViewBag.Interest[interestIndex].Id;
        interestToBadge.Add(id, badgeStyles[id % badgeStyles.Length]);
    }

    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id;
}

<head>
    <link rel="stylesheet" href="~/css/post.css" />
</head>
<script src="~/js/post.js"></script>

<div class="text-center">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">
                NEWS
            </p>
            <div id="News"></div>
        </div>
        <div class="col-md-6">
            <form id="search" method="get" enctype="multipart/form-data" asp-controller="Home" asp-action="FilterPosts" class="row">
                <select id="searchSelect" class="custom-select col-lg-4 col-md-4" name="interestId">
                    <option value="" selected>Interest</option>
                    @for (int i = 0; i < ViewBag.Interest.Count; i++)
                    {
                        <option value="@ViewBag.Interest[i].Id">@ViewBag.Interest[i].Name</option>
                    }
                </select>
                <select id="searchSelect" class="custom-select col-lg-4 col-md-4" name="userId">
                    <option value="" selected>Member</option>
                    @for (int i = 0; i < ViewBag.Users.Count; i++)
                    {
                        <option value="@ViewBag.Users[i].Id">@ViewBag.Users[i].UserName</option>
                    }
                </select>
                <div id="searchButton">
                    <button class="btn btn-light btn-sm"><i class="glyphicon glyphicon-search"></i></button>
                    <button type="button" class="btn btn-light btn-sm" onclick="window.location.href = '/Home'">X</button>
                </div>
            </form>
            <div id="postCard" class="card">
                <div style="display: flex; flex-direction:row; justify-content:space-between">
                    <form onsubmit="return validatePostForm()" name="postForm" method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="Create" style="width:100%">
                        <input id="postInput" name="content" placeholder="What's on your mind?" />
                        <button class="btn btn-light">Post</button>
                        @for (int interestIndex = 0; interestIndex < ViewBag.Interest.Count; interestIndex++)
                        {
                            <a class="badge badge-pill badge-@interestToBadge[ViewBag.Interest[interestIndex].Id]"
                               id="InterestId"
                               style="color: azure"
                               onclick="setInterestId('@ViewBag.Interest[interestIndex].Id')"
                               name="InterestId" href="#">
                                @ViewBag.Interest[interestIndex].Name
                            </a>
                        }
                        <input type="hidden" name="InterestId" id="InterestHiddenInput" value="0" />
                    </form>
                </div>
            </div>
            @for (int postIndex = 0; postIndex < ViewBag.Posts.Count; postIndex++)
            {
                <input id="postId" type="hidden" value="@ViewBag.Posts[postIndex].Id" />
                <input id="postIndex" type="hidden" value="@postIndex" />
                <div id="postCard" class="card @(ViewBag.IsFirstPostRecommended && postIndex == 0 ? "recommended-post" : "")">
                    <section>
                        <div class="postdetails">
                            <div class="username">@ViewBag.UsersToPosts[postIndex]?.UserName</div>
                            <div class="rightSidePostDetails">
                                @if (ViewBag.InterestsToPosts[postIndex] != null)
                                {
                                    <a style="color: azure" class="interestTag badge badge-pill badge-@interestToBadge[ViewBag.InterestsToPosts[postIndex].Id]">
                                        @ViewBag?.InterestsToPosts[postIndex]?.Name
                                    </a>
                                }

                                @if (User.IsInRole("Admin") || userId == ViewBag.Posts[postIndex].UserId)
                                {
                                    <button data-toggle="modal" data-target="#editpost"
                                            onclick="fillEditPostDetails('@ViewBag.Posts[postIndex].Id', '@ViewBag.Posts[postIndex].Content', '@ViewBag.Posts[postIndex].UserId')"
                                            class="btn btn-xs btn-light">
                                        Edit
                                    </button>
                                    <div class="closeButtonPart">
                                        <form method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="Delete">
                                            <button class="btn btn-xs btn-danger">X</button>
                                            <input name="Id" hidden value="@ViewBag.Posts[postIndex].Id" />
                                        </form>
                                    </div>
                                }
                            </div>
                        </div>

                        <p class="card-text" style="text-align: left;">@ViewBag.Posts[postIndex].Content</p>
                    </section>
                    <div class="dropdown-divider"></div>
                    <div class="actionButtons">
                        <div class="likeButtonPart">
                            <div class="numOfLikes" id="numOfLikes-@postIndex" value="0">
                                @ViewBag.likesToPost[postIndex]
                            </div>
                            <button id="likeButton-@postIndex"
                                    onclick="isLikedThePost('@ViewBag.Posts[postIndex].Id', @postIndex)"
                                    class="@(ViewBag.isLikePost[postIndex] ? "btn btn-primary" : "btn btn-light")">
                                Like
                            </button>
                        </div>
                        <a data-size="large" class="twitter-share-button"
                            href="https://twitter.com/intent/tweet?text=Post%20I%20Made%20at%20Stark:@(" "+ ViewBag.Posts[postIndex].Content + " ")">
                            Tweet
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            <a class="twitter-timeline" data-height="1000" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>

<div class="modal fade" id="editpost" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modalDialogStyle">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="EditPost">
                <div class="modal-body modalBodyStyle">
                    <input type="hidden" name="Id" id="editPostId" />
                    <input type="hidden" name="UserId" id="editUserId" />

                    <h4>Content:</h4>
                    <input class="form-control" id="editContent" type="text" name="Content" required><br />

                    <h4>Interest:</h4>
                    <select class="custom-select col-lg-4 col-md-4" name="InterestId">
                        <option value="0">No interest</option>
                        @for (int i = 0; i < ViewBag.Interest.Count; i++)
                        {
                            <option value="@ViewBag.Interest[i].Id">@ViewBag.Interest[i].Name</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-light">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
                </div>
            </form>
        </div>
    </div>
</div>