﻿@{
    ViewData["Title"] = "Our Story";
}

<div style="display:flex; justify-content:center; flex-direction: column; padding: 3rem; align-items: center; text-align:center">
    <h1 style="padding-bottom: 1rem">@ViewData["Title"]</h1>

    <h4 style="padding-bottom: 2rem">We are a passionate group of students, looking to bring people with similar interests together across the entire world</h4>

    <h4 style="padding-bottom: 2rem">Social medias connect billions of people on a daily basis, and allow them to share their experiences and ideas</h4>

    <h4>Learn more about the benefits of social medias</h4>

    <div style="width: 80%; height: 30rem; padding-top: 2rem;">
        <video controls style="object-fit: cover; height:auto; max-width:100%; box-shadow: 1px 1px 3px -1px;">
            <source src="~/social_medias.mp4" type="video/mp4">
        </video>
    </div>
</div>



