﻿@{
    ViewData["Title"] = "Statistics";
}

<head>
    <link rel="stylesheet" href="~/css/statistics.css" />
</head>

<div>

    <h2 style="margin-bottom: 2rem">Likes by interests</h2>
    <div id="topInterestsByLikes"></div>
    <div style="margin: 2rem"></div>
    <h2 style="margin-bottom: 2rem">Users with most posts</h2>
    <div id="mostPostsChart"></div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="~/js/statistics.js"></script>