﻿.userInfo {
    text-align: center;
    position: relative;
    width: 35%;
    background-color: #343A40;
    color: white;
    margin: auto;
    padding: 3rem;
    margin-top: 5rem;
    transition: top ease 0.5s;
    top: 0;
}

.userInfo:hover {
    top: -10px;
}

.mainFormSection {
    padding-top: 1rem;
    padding-bottom: 1rem;
}