﻿.customInfobox {
    background-color: rgba(0,0,0,0.8);
    color: white;
    max-width: 15rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    pointer-events: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    text-align: center;
}
.infoboxTitle {
    padding-bottom: 1rem;
    font-weight: 700;
}

#map {
    width: 80%;
    height: 35rem;
    padding-bottom: 2rem;
}

.mapPageWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}