﻿@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
    src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'), url(' https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.actionButtons {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
    margin-left: 2em;
    margin-right: 2em;
    align-items: center;
    margin: 0 auto;
}

#likeButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#postCard {
    padding: 0.8rem 2rem 0.8rem 2rem;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px
}

#postInput {
    border-radius: 0.7em;
    background-color: #f0f2f5;
    font-size: 1.1rem;
    width: 85%;
    border: none;
    outline: none;
}

#search {
    position: relative;
    padding: 1.5em 0;
    font-size: small;
}

#searchSelect {
    margin-left: 1em;
    height: 2.6em;
    font-size: small;
}

#searchButton {
    margin-left: 1em;
}

.username {
    font-weight: 700;
    font-size: 1.2rem;
}

.interest {
    font-size: 0.85rem;
}

.postdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
}

.rightSidePostDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.interestTag {
    margin-right: 10px;
    margin-bottom: 2px;
}

.closeButtonPart {
    width: 30%;
    display: flex;
    align-items: center;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .3rem .7rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
    margin-bottom: 0.15rem
}

.likeButtonPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.numOfLikes {
    font-size: 1.3rem;
    padding-right: 0.5rem;
    font-weight: 300;
    padding-left: 0.5rem;
}

.recommended-post {
    border: 2px solid #0fb4b4;
}

.modalBodyStyle {
    padding: 2rem;
    width: 30rem;
    margin: auto;
    position: relative;
}

.modalDialogStyle {
    margin-top: 20rem;
}