﻿@model IEnumerable<webapp2020.Models.Location>

@{
    ViewData["Title"] = "Locations";
}

<div style="margin-bottom: 1em">
    <p class="lead">Manage Locations</p>
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#location"
            style="border-bottom-color: antiquewhite;">
        Add New Location
    </button>
</div>

<div id="location" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data" asp-action="Create">
                <div class="modal-body" style="width: 362px; margin: auto; position: relative; top: 10px;">
                    <i class="fa fa-info-circle fa-2x" style="position: absolute;left: -27px;top: 20px;"></i>
                    <div class="form-group">
                        <input type="text" placeholder="Location Name" name="Name" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Location Description" name="Description" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="number" step="any" placeholder="Location Latitude" name="Latitude" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="number" step="any" placeholder="Location Longitude" name="Longitude" required class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
                    <button type="submit" class="btn btn-light">+</button>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
