﻿@model IEnumerable<webapp2020.Models.Interest>

@{
    ViewData["Title"] = "Interests";
}

<div style="margin-bottom: 1em">
    <p class="lead">Manage Interest</p>
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#interest"
            style="border-bottom-color: antiquewhite;">
        Add New Interest
    </button>
</div>

<div id="interest" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Interest</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data" asp-action="Create">
                <div class="modal-body" style="width: 362px; margin: auto; position: relative; top: 10px;">
                    <i class="fa fa-info-circle fa-2x" style="position: absolute;left: -27px;top: 20px;"></i>
                    <input required class="form-control" type="text" placeholder="Interest Name" name="Name"><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
                    <button type="submit" class="btn btn-light">+</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
